
body {
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;  
    background-color: white;
/*    background-image: url('../assets/BG.jpg');
    background-size:     cover;                       <------ 
    background-repeat:   no-repeat;
    background-position: center center*/

}

.banner {
    width: 100%;
    height: 100px;
    
}


.pickPanel {
    width: 80%;
    height: 550px;
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
    position: relative;
   
}

.morePanel {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    z-index: 1;

   
}


.morePanelLeft {
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
    color: black;
}

.morePanelRight {
    height: 100%;
    width: 50%;
    float: left;
   
}

#dateDiv {
    font-size: 100px;  
    width: 90%;
      color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    margin-top: 100px;
}

#close {
    float: right;
    font-size: 45px;  
    width: 90%;
    text-align: right;

    
}

#exit {
    float: right;
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
    

}

#all {
    font-size: 50px;
}


#title {
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    font-weight: bold;  
}
p {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

#subtitle {
    font-size: 13px;
    font-weight: bold;
   
    
}


#output {
    overflow: hidden;
    text-align: center;
    align-content: center;
    width: 100%;
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
    background-color: lightgray;

}

#outputTitle {
    width: 100%;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
}

#returnTop {
    font-weight: bold;
    width: 200px;
    height:100%;
    cursor: pointer;
    float: right;
  
    
}



#albums {
    width: 100%;
    margin-top:0;
    margin-right:auto;
    margin-bottom:5px;
    margin-left:auto;
    
    
    
    
}

#dateDiv {
    font-size: 160px;
    width: 0%;
}




#byDate {  
    width: 100%;
    height: 100px;
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;

    
    
}


.dates {
    cursor: pointer;
    font-size: 100%;
    width: 7.5%;
    background-color: lightgrey;
    margin: 5px;
    float: left;
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
    opacity: 0.0;
   
    
}


.dates:hover {
background-color: darkgray;

}



#byAlbumLabel {
    font-weight: bold;
    padding-bottom:3px;
}

#byDateLabel {
    font-weight: bold;
    padding-bottom:3px;

    
}



.album {
    width: 24%;
    border-radius: 2px;
    opacity: 0.0;

}
.album:hover {
  filter: contrast(60%); 
}

.optionList {
    list-style-type: none;
}

#overlayCover {
    width: 50%;
    opacity: 1.0;
    float: left       
}

.options {
    cursor: pointer;
    font-size: 20px;
    background-color: lightgrey;
    margin: 5px;
    float: left;
    border-radius: 5px;
    padding: 4px;
    position: relative;

}

.options:hover {
    background-color: darkgray;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    
    
  
}



.videoPanel {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    width: 85%;
    height: 450px;;
    margin: 10px;    
    

}

.videoPanel p {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.loadMoreDiv {
    width: 100%;
    height: 50px;
    font-weight: bold;
    text-align: center;
}

#loadMore {
    cursor: pointer;
    font-size: 40px;
}


.footer {
    width: 100%;
    height: 90px;
    background-color: darkgray;
    
}

#footerEmailText{
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    
    
 }
 
 #emailDiv{
     width: 40%;
     height:100%;
     float: left;
 }
 
 #emailDiv a{
     text-decoration: none;
     font-weight: bold;
     margin-left: 3px;
     color: black;
     
 }
 
 #returnTopText{
         font-size: 15px;

     
 }

@media screen and (max-width:640px){
    #albums {
    height: 30%;
    float:left;
    

        }
    #byDate {  
    width: 100%;
    height: 400px;
    text-align: center;
    
  
        }  
        
    .dates {
    cursor: pointer;
    font-size: 20px;
    width: 13%;
    height: 20px;
    background-color: lightgrey;
    margin: 18px;
    margin-bottom: 5px;
    border-radius: 2px;
    font-weight: bold;
    opacity: 0.0;
        
            
        }
    .album {
      width: 22%;
    border-radius: 2px;
    opacity: 0.0;
    margin: 0px;
        }
    
        .pickPanel{
            width: 100%;
        }
        
        .banner{
            height:75px;
        }
        #title{
            
}

.pickPanel{
    font-size: 30px;
}

.videoPanel {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    width: 95%;
    height: 200px;;
    margin: 10px;    
    

}

#dateTypeAlbums {
    background-color: white;
    -webkit-filter: none;
    filter: none

}

#outputTitle{
    font-size: 40px;
}
.morePanelLeft{
    width: 100%;
    height: 350px;
    
}
.morePanelRight{
    width: 100%;
    
    
    
}

.morePanel{
    padding-top: 0px;
}

#byDateLabel{
    padding-bottom: 0px;
}

#byAlbumLabel{
    padding-bottom: 8px;
    
}


.options{
    font-size: 15px;
    background-color: lightgrey;
    margin: 5px;
    float: left;
    border-radius: 5px;
    padding: 4px;
    position: relative;
    
}

#overlayCover {
    width: 40px;
    opacity: 1.0;
}

#footerEmailText{
    font-size: 10px;
   
 }

 #emailDiv {
     width:50%;
 }
 #returnTop {
   width: 150px;
   font-size: 8px;
 }
 .options{
     background-color: white;
 }
   
    

}